@use 'base/variables' as *;

@mixin respond($size) {
  @if $size == mobile {
    @media (min-width: $mobile) { @content; }
  }
  @if $size == tablet {
    @media (min-width: $tablet) { @content; }
  }
  @if $size == desktop {
    @media (min-width: $desktop) { @content; }
  }
}

.card {
  font-size: 14px;
  padding: 1rem;

  @include respond(tablet) {
    font-size: 16px;
    padding: 2rem;
  }

  @include respond(desktop) {
    font-size: 18px;
    padding: 3rem;
  }
}

@mixin boton($bgColor, $display){
  background-color: $bgColor;
  color: $negro;
  font-weight: bold;
  text-decoration: none;
  padding: 1rem 1rem;
  text-align: center;
  display: $display;
  border-radius: 30px;
  border: 5px solid $gris;
}

@mixin flexCard($display){
  display: $display;
}