
//Colores
$dijonFuerte: #ada66d;
$dijon: #c8c994;
$negro: #090700;
$gris: #7c7772;
$blanco: #f8f8f8;

//Grosor
$light: 300;
$medium: 600;
$bold: 700;

//Resolucion

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

$spacing-xs: 0.5rem;  // 8px
$spacing-mobile: 1rem;    // 16px
$spacing-tablet: 2rem;    // 32px
$spacing-desktop: 3rem;    // 48px