.create-form {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border-width: 0.5rem;

    p {
        font-size: 1.4rem;
        margin: 2rem 0 0 0;
    }

    legend {
        font-size: 2rem;
        text-align: center;
        padding: 1rem 0 1rem 0;
    }

    label {
        text-transform: uppercase;
        display: block;
        margin-bottom: 0.5rem;
    }

    input {
        width: auto;
        padding: 0.5rem;
        margin: 0 1.5rem 2rem 0;
    }
}

