@use '../base' as *;


.login-container {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  background-color: $blanco;
  padding: 5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;

  p {
      font-size: 1.4rem;
      margin: 2rem 0 0 0;
  }

  legend {
      font-size: 2rem;
      text-align: center;
      padding: 1rem 0 1rem 0;
  }

  label {
      text-transform: uppercase;
      display: block;
      margin-bottom: 0.5rem;
  }

  input {
      width: 100%;
      padding: 0.5rem;
      margin: 0 1.5rem 2rem 0;
  }
  // @include respond(tablet){
  //   p {
  //     font-size: 1.4rem;
  //     margin: 2rem 0 0 0;
  //   }

  //   legend {
  //     font-size: 2rem;
  //     text-align: center;
  //     padding: 1rem 0 1rem 0;
  //   }

  //   label {
  //     text-transform: uppercase;
  //     display: block;
  //     margin-bottom: 0.5rem;
  //   }

  //   input {
  //     width: 100%;
  //     padding: 0.5rem;
  //     margin: 0 1.5rem 2rem 0;
  //   }
  // }

}
